.article__title {
	font-size: 2.5rem;
	color: var(--color-gray);
}

.article__price {
	font-size: 3rem;
	color: var(--color-green);
	font-weight: 800;
}

.article__brand {
	font-weight: 400;
	color: var(--color-green);
}

.article__brandSpan {
	color: var(--color-gray);
}
