.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: 1rem auto;
	padding: 0 1.25rem;
	height: 40px;
}

.header__link {
	text-decoration: none;
}

.header__cartIcon {
	position: relative;
}

.header_cartIcon_number {
	position: absolute;
	top: -10px;
	left: -5px;
	background-color: red;
	border-radius: 15px;
	padding: 0 5px;
	color: #fff;
}

.header__cartIcon_icon {
	width: 2rem;
	transform: scaleX(-1);
}
