.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1140px;
	margin: 1rem auto;
	padding: 0 1.25rem;
}

.header__link {
	text-decoration: none;
}

.header__cartIcon {
	width: 2rem;
	transform: scaleX(-1);
}
